.box-container {
  width: 100%;
}
.box-container div {
  margin-top: 20px;
}
.registration-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid var(--white);
  width: 60%;
  margin: 50px auto;
  box-shadow: 0 0 10px 2px rgba(216, 210, 210, 0.5);
}
.sign {
  font-size: 3rem;
}
.sign:hover {
  color: white;
  -webkit-text-stroke: 2px var(--black);
}
#email:invalid {
  color: var(--red);
}

@media screen and (max-width: 1000px) {
  .registration-container {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .registration-container {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .registration-container {
    width: 90%;
  }
}
